.clear
{
}


.maroon
{
	color:#8f3931;
}

.indent { text-indent:30px; }
.justify{ text-align:justify; }
.bold { font-weight: bold; }

.border-left
{
	border-left:1px solid #333;
	border-spacing:30px;
}



/*************************************************************************************************************
	Gradients
**************************************************************************************************************/

.gradient-nav
{
	background-image:-moz-linear-gradient(249% 32% -180deg,rgb(244,244,244) 0%,rgb(255,255,255) 98%,rgb(255,255,255) 100%); 
background-image:-webkit-gradient(linear,249% 32%,47% 35%,color-stop(0, rgb(244,244,244)),color-stop(0.98, rgb(255,255,255)),color-stop(1, rgb(255,255,255)));
background-image:-webkit-linear-gradient(-180deg,rgb(244,244,244) 0%,rgb(255,255,255) 98%,rgb(255,255,255) 100%);
background-image:-o-linear-gradient(-180deg,rgb(244,244,244) 0%,rgb(255,255,255) 98%,rgb(255,255,255) 100%);
background-image:-ms-linear-gradient(-180deg,rgb(244,244,244) 0%,rgb(255,255,255) 98%,rgb(255,255,255) 100%);
background-image:linear-gradient(-180deg,rgb(244,244,244) 0%,rgb(255,255,255) 98%,rgb(255,255,255) 100%);
-ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffffffff,endColorstr=#fff4f4f4,GradientType=1)";
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffffffff,endColorstr=#fff4f4f4,GradientType=1);
}

.gradient-content-gray
{
	background-image:-moz-linear-gradient(156% 47% -180deg,rgb(244,244,244) 0%,rgb(255,255,255) 98%,rgb(255,255,255) 100%); 
background-image:-webkit-gradient(linear,156% 47%,-46% 50%,color-stop(0, rgb(244,244,244)),color-stop(0.98, rgb(255,255,255)),color-stop(1, rgb(255,255,255)));
background-image:-webkit-linear-gradient(-180deg,rgb(244,244,244) 0%,rgb(255,255,255) 98%,rgb(255,255,255) 100%);
background-image:-o-linear-gradient(-180deg,rgb(244,244,244) 0%,rgb(255,255,255) 98%,rgb(255,255,255) 100%);
background-image:-ms-linear-gradient(-180deg,rgb(244,244,244) 0%,rgb(255,255,255) 98%,rgb(255,255,255) 100%);
background-image:linear-gradient(-180deg,rgb(244,244,244) 0%,rgb(255,255,255) 98%,rgb(255,255,255) 100%);
-ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffffffff,endColorstr=#fff4f4f4,GradientType=1)";
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffffffff,endColorstr=#fff4f4f4,GradientType=1);
}
