<div class="content">
	<div class="row">
		<div class="span3">
			<h4>Test</h4>
		</div>
		<div class="span3">
			<h4>Test</h4>
		</div>
		<div class="span5">
			@Html.Partial("~/Views/Home/_BootstrapCarousel.cshtml")
		</div>
	</div>
</div>
