<div class="row">
	<div class="span4">
		<h4>News & Announcements </h4>
		<p>
			Lorem ipsum dolor sit amet, consectetuer adipiscing elit, 
							sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. 
							Lorem ipsum dolor sit amet, consectetuer adipiscing elit, 
							sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. 
		</p>
		<p>
			<a href="@Url.Action("Index", "Service")" class="btn btn-warning btn-small">View More » </a>
		</p>
	</div>
	<div class="span4">
		<h4>Courses Offered </h4>
		<p>
			Lorem ipsum dolor sit amet, consectetuer adipiscing elit, 
							sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. 
							Lorem ipsum dolor sit amet, consectetuer adipiscing elit, 
							sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. 
		</p>
		<p>
			<a href="@Url.Action("Index", "Service")" class="btn btn-warning btn-small">View More » </a>
		</p>
	</div>
	<div class="span4">
		<h4>Scholarships </h4>
		<p>
			Lorem ipsum dolor sit amet, consectetuer adipiscing elit, 
							sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. 
							Lorem ipsum dolor sit amet, consectetuer adipiscing elit, 
							sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. 
		</p>
		<p>
			<a href="@Url.Action("Index", "Service")" class="btn btn-warning btn-small">View More » </a>
		</p>
	</div>
</div>
