<div class="container">
	<div class="row">
		<div class="span5">
			<div class="span1">
				<img src="~/Images/Logos/tsu-logo.png" />
				<img src="~/Images/Logos/miso-logo.png" width="200" height="150" />
			</div>

			<div class="span3">
				<ul class="footer-link">
					<li class="footer-link-header"> About TSU </li>
					<li><a href="#"> University Campuses </a></li>
					<li><a href="#"> University Offices </a></li>
					<li><a href="#"> University Colleges </a></li>
					<li><a href="#"> University Facilities </a></li>
					<li><a href="#"> University Officials / Faculty & Staff </a></li>
				</ul>
			</div>
		</div>
	</div>

	<div class="copyright">
		<p class="">
			<small>&copy; @DateTime.Now.Year - Management Information Systems Office</small> 
		</p>
	</div>
</div>
