@{
	ViewBag.Title = "";
}


@section featured
{
	@ViewBag.Test
	@Html.Partial("_FeaturedHome")
}

<div class="hr-gold"></div>

<!-- Events -->
<div class="row">


	<div class="span8 gradient-content-gray">
		<h4>Test</h4>
	</div>
	<div class="span4 container">
		<span class="main-title">Events </span>
		<div class="row event">
			<div class="span1 date">
				<span class="day"> Tue </span>
				<span class="month"> Sept. 3 </span>
			</div>

			<div class="span3 description">
				<a href="#"> Lorem ipsum dolor sit amet, consectetuer  </a>
				<div class="time"> 8:00am - 9am</div>
				<div class="venue"> TSU Gym </div>
			</div>
		</div>
		<div class="row event">
			<div class="span1 date">
				<span class="day"> Tue </span>
				<span class="month"> Sept. 3 </span>
			</div>

			<div class="span3 description">
				<a href="#"> Lorem ipsum dolor sit amet, consectetuer  </a>
				<div class="time"> 8:00am - 9am</div>
				<div class="venue"> TSU Gym </div>
			</div>

		</div>
	</div>
</div>

<div class="hr-gold"></div>

@section otherFeatured
{
	<div class="container">
		<div class="row">
			<div class="span4 text-center">

			</div>

			<div class="span4 text-center">
			</div>

			<div class="span4 text-center">
				<a href="#">
					<img src="~/Images/Logos/transparency-logo.png" />
				</a>

			</div>
		</div>
	</div>

}


@section scripts
{
	@Scripts.Render("~/Scripts/jquery.carouFredSel-6.0.4-packed.js")
	@Scripts.Render("~/Scripts/js/slideshows.js")
}