@{
	ViewBag.Title = "News and Events";
}

@section featured
{
	<div class="content">
		<h3>News and Events</h3>

		<div class="row">
			<div class="span4">
				<p class="justify indent">
					Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
				</p>
			</div>

			<div class="span7">
				<img src="~/Images/NewsAndEvents/News2.jpg" class="img-polaroid" />
			</div>
		</div>
	</div>
}



<div class="row">
	<div class="span12">
		<h4>More News and Events </h4>
		<div class="hr-gold"></div>
		<div class="row news-thumbnails-container">
			<div class="span9">
				<ul class="thumbnails">
					<li class="span3">
						<img src="~/Images/NewsAndEvents/News1.jpg" class="thumbnail" />
						<h5>Title </h5>
						<p>
							Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
						</p>
					</li>
					<li class="span3">
						<img src="~/Images/NewsAndEvents/News3.jpg" class="thumbnail" />
						<h5>Title </h5>
						<p>
							Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
						</p>
					</li>
					<li class="span3 offset1">
						<img src="~/Images/NewsAndEvents/News3.jpg" class="thumbnail" />
						<h5>Title </h5>
						<p>
							Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
						</p>
					</li>
				</ul>
				<ul class="thumbnails">
					<li class="span3">
						<img src="~/Images/NewsAndEvents/News1.jpg" class="thumbnail" />
						<h5>Title </h5>
						<p>
							Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
						</p>
					</li>
					<li class="span3">
						<img src="~/Images/NewsAndEvents/News3.jpg" class="thumbnail" />
						<h5>Title </h5>
						<p>
							Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
						</p>
					</li>
					<li class="span3 offset1">
						<img src="~/Images/NewsAndEvents/News3.jpg" class="thumbnail" />
						<h5>Title </h5>
						<p>
							Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
						</p>
					</li>
				</ul>
			</div>
			<div class="sidenav-wrapper">
				<div class="span2 sidenav-container">
					<ul class="nav nav-list">
						<li class="nav-header"> Header </li>
						<li><a href="#">Test </a></li>
						<li><a href="#">Test </a></li>
						<li><a href="#">Test </a></li>
						<li><a href="#">Test </a></li>
					</ul>
				</div>
			</div>
		</div>

	</div>

</div>
