<div id="application" class="tab-pane">
	<h4>HOW TO QUALIFY FOR AN UNDERGRADUATE DEGREE PROGRAM</h4>
	<p>
		To qualify in a particular undergraduate degree program, 
		the applicant needs to choose from among the list of courses offered in the University. 
		Applicant needs to indicate his or her choice of course with its corresponding course code in the 
		<strong><em>TSU College Admission Test Application Form.</em></strong> 
		(E.g. Bachelor of Arts in Communication (course) 1101 (course code).
	</p>
	<br />

	<!-- THE TSU-CAT APPLICATION PROCESS -->
	<div class="ui-state-highlight">
			<span class="ui-icon ui-icon-bullet pull-left"></span> 
			THE <abbr title="TSU - College Admission Test">TSU-CAT </abbr> APPLICATION PROCESS
	</div>

	<ol>
		<li>Obtain application forms directly from the 
			<strong><em> UNIVERSITY TESTING CENTER </em></strong> located at 
			TSU-Main Campus.
		</li>
		<li>Read carefully the TSU-CAT General Information for Freshman Admission including the Application Form.</li>
		<li>Fill up the Application Form for College Admission Test <em>(In print and bold letters).</em></li>
		<li>Be sure that all the necessary requirements are attached to your application form.</li>
		<li>Pay the TSUCAT Fee at the <strong><em>Cashiering Office.</em></strong></li>
		<li> Submit the completed and accomplished requirements and
			 application form at the <strong><em> University Testing Center Window 3.</em></strong>
		</li>
		<li>Demand for the <strong><em>TEST PERMIT</em></strong> once your application form is submitted.</li>
	</ol>
	<p>
		<span class="label label-warning"> NOTE!</span>
		Take note of your scheduled date, time, venue and room number.
	</p>

</div>
