<div id="campus-accordion">
	<h4>Main Campus </h4>
	<div>
		<p>
		<table class="table table-striped course-table">
			<tr>
				<td colspan="5">COURSE CODE
				</td>
			</tr>
			<tr class="info">
				<td style="text-align: center;" colspan="5"><strong>COLLEGE OF ARTS AND SOCIAL SCIENCE </strong></td>
			</tr>
			<tr>
				<td>1 </td>
				<td>1 </td>
				<td>0 </td>
				<td>1 </td>
				<td>Bachelor of Arts in Communication Arts </td>
			</tr>
			<tr>
				<td>1 </td>
				<td>1 </td>
				<td>0 </td>
				<td>2 </td>
				<td>Bachelor of Arts in English </td>
			</tr>
			<tr>
				<td>1 </td>
				<td>1 </td>
				<td>0 </td>
				<td>3 </td>
				<td>Bachelor of Arts in Psychology </td>
			</tr>

			<tr>
				<td>1 </td>
				<td>1 </td>
				<td>0 </td>
				<td>4 </td>
				<td>Bachelor of Science in Criminology </td>
			</tr>
			<tr class="info">
				<td colspan="5" style="text-align: center;">COLLEGE OF HUMAN KINETICS </td>
			</tr>
			<tr>
				<td>1 </td>
				<td>5 </td>
				<td>0 </td>
				<td>1 </td>
				<td>Bachelor of Physical Education </td>
			</tr>
			<tr class="info">
				<td style="text-align: center;" colspan="5">COLLEGE OF BUSINESS AND ACCOUNTANCY </td>
			</tr>
			<tr>
				<td>1 </td>
				<td>2 </td>
				<td>0 </td>
				<td>1 </td>
				<td>Bachelor of Science in Accountancy </td>
			</tr>
			<tr>
				<td>1 </td>
				<td>2 </td>
				<td>0 </td>
				<td>2 </td>
				<td>Bachelor of Science in Accounting Technology </td>
			</tr>
			<tr>
				<td>1 </td>
				<td>2 </td>
				<td>0 </td>
				<td>3 </td>
				<td>Bachelor of Science in Entrepreneurship </td>
			</tr>
			<tr>
				<td>1 </td>
				<td>2 </td>
				<td>0 </td>
				<td>4 </td>
				<td>Bachelor of Science in Hotel and Restaurant Management </td>
			</tr>
			<tr>
				<td colspan="4">&nbsp; </td>
				<td>Bachelor of Science in Business Administration </td>
			</tr>
			<tr>
				<td>1 </td>
				<td>2 </td>
				<td>0 </td>
				<td>5 </td>
				<td>major in Business Economics </td>
			</tr>
			<tr>
				<td>1 </td>
				<td>2 </td>
				<td>0 </td>
				<td>6 </td>
				<td>major in Financial Management </td>
			</tr>
			<tr>
				<td>1 </td>
				<td>2 </td>
				<td>0 </td>
				<td>7 </td>
				<td>major in Marketing Management </td>
			</tr>
			<tr class="info">
				<td style="text-align: center;" colspan="5">COLLEGE OF ENGINEERING
				</td>
			</tr>
			<tr>
				<td>1
				</td>
				<td>4
				</td>
				<td>0
				</td>
				<td>1
				</td>
				<td>Bachelor of Science in Civil Engineering
				</td>
			</tr>
			<tr>
				<td>1
				</td>
				<td>4
				</td>
				<td>0
				</td>
				<td>2
				</td>
				<td>Bachelor of Science in Electrical Engineering
				</td>
			</tr>
			<tr>
				<td>1
				</td>
				<td>4
				</td>
				<td>0
				</td>
				<td>3
				</td>
				<td>Bachelor of Science in Electronics Engineering
				</td>
			</tr>
			<tr>
				<td>1
				</td>
				<td>4
				</td>
				<td>0
				</td>
				<td>4
				</td>
				<td>Bachelor of Science in Industrial Engineering
				</td>
			</tr>
			<tr>
				<td>1
				</td>
				<td>4
				</td>
				<td>0
				</td>
				<td>5
				</td>
				<td>Bachelor of Science in Mechanical Engineering
				</td>
			</tr>
			<tr class="info">
				<td style="text-align: center;" colspan="5">COLLEGE OF COMPUTER STUDIES
				</td>
			</tr>
			<tr>
				<td>1
				</td>
				<td>3
				</td>
				<td>0
				</td>
				<td>1
				</td>
				<td>Bachelor of Science in Computer Science
				</td>
			</tr>
			<tr>
				<td>1
				</td>
				<td>3
				</td>
				<td>0
				</td>
				<td>2
				</td>
				<td>Bachelor of Science in Information Systems
				</td>
			</tr>
			<tr>
				<td>1
				</td>
				<td>3
				</td>
				<td>0
				</td>
				<td>3
				</td>
				<td>Bachelor of Science in Information Technology
				</td>
			</tr>
			<tr>
				<td>1
				</td>
				<td>3
				</td>
				<td>0
				</td>
				<td>4
				</td>
				<td>*Associate in Information Technology
				</td>
			</tr>
			<tr class="info">
				<td style="text-align: center;" colspan="5">COLLEGE OF PUBLIC ADMINISTRATION
				</td>
			</tr>
			<tr>
				<td>1
				</td>
				<td>6
				</td>
				<td>0
				</td>
				<td>1
				</td>
				<td>Bachelor in Public Administration
				</td>
			</tr>
			<tr class="info">
				<td style="text-align: center;" colspan="5">COLLEGE OF SCIENCE
				</td>
			</tr>
			<tr>
				<td>1
				</td>
				<td>7
				</td>
				<td>0
				</td>
				<td>1
				</td>
				<td>Bachelor of Science in Chemistry
				</td>
			</tr>
			<tr>

				<td>1
				</td>
				<td>7
				</td>
				<td>0
				</td>
				<td>2
				</td>
				<td>Bachelor of Science in Mathematics
				</td>
			</tr>
		</table>
		</p>
	</div>
	<h4>Lucinda Campus </h4>
	<div>
		<p>
		<table class="table table-striped course-table">
			<tr>
				<td colspan="5">COURSE CODE
				</td>
			</tr>
			<tr class="info">
				<td style="text-align: center;" colspan="5"><strong>COLLEGE OF ARTS AND SOCIAL SCIENCE </strong></td>
			</tr>
			<tr>
				<td>1 </td>
				<td>1 </td>
				<td>0 </td>
				<td>1 </td>
				<td>Bachelor of Arts in Communication Arts </td>
			</tr>
			<tr>
				<td>1 </td>
				<td>1 </td>
				<td>0 </td>
				<td>2 </td>
				<td>Bachelor of Arts in English </td>
			</tr>
			<tr>
				<td>1 </td>
				<td>1 </td>
				<td>0 </td>
				<td>3 </td>
				<td>Bachelor of Arts in Psychology </td>
			</tr>

			<tr>
				<td>1 </td>
				<td>1 </td>
				<td>0 </td>
				<td>4 </td>
				<td>Bachelor of Science in Criminology </td>
			</tr>
			<tr class="info">
				<td colspan="5" style="text-align: center;">COLLEGE OF HUMAN KINETICS </td>
			</tr>
			<tr>
				<td>1 </td>
				<td>5 </td>
				<td>0 </td>
				<td>1 </td>
				<td>Bachelor of Physical Education </td>
			</tr>
			<tr class="info">
				<td style="text-align: center;" colspan="5">COLLEGE OF BUSINESS AND ACCOUNTANCY </td>
			</tr>
			<tr>
				<td>1 </td>
				<td>2 </td>
				<td>0 </td>
				<td>1 </td>
				<td>Bachelor of Science in Accountancy </td>
			</tr>
			<tr>
				<td>1 </td>
				<td>2 </td>
				<td>0 </td>
				<td>2 </td>
				<td>Bachelor of Science in Accounting Technology </td>
			</tr>
			<tr>
				<td>1 </td>
				<td>2 </td>
				<td>0 </td>
				<td>3 </td>
				<td>Bachelor of Science in Entrepreneurship </td>
			</tr>
			<tr>
				<td>1 </td>
				<td>2 </td>
				<td>0 </td>
				<td>4 </td>
				<td>Bachelor of Science in Hotel and Restaurant Management </td>
			</tr>
			<tr>
				<td colspan="4">&nbsp; </td>
				<td>Bachelor of Science in Business Administration </td>
			</tr>
			<tr>
				<td>1 </td>
				<td>2 </td>
				<td>0 </td>
				<td>5 </td>
				<td>major in Business Economics </td>
			</tr>
			<tr>
				<td>1 </td>
				<td>2 </td>
				<td>0 </td>
				<td>6 </td>
				<td>major in Financial Management </td>
			</tr>
			<tr>
				<td>1 </td>
				<td>2 </td>
				<td>0 </td>
				<td>7 </td>
				<td>major in Marketing Management </td>
			</tr>
			<tr class="info">
				<td style="text-align: center;" colspan="5">COLLEGE OF ENGINEERING
				</td>
			</tr>
			<tr>
				<td>1
				</td>
				<td>4
				</td>
				<td>0
				</td>
				<td>1
				</td>
				<td>Bachelor of Science in Civil Engineering
				</td>
			</tr>
			<tr>
				<td>1
				</td>
				<td>4
				</td>
				<td>0
				</td>
				<td>2
				</td>
				<td>Bachelor of Science in Electrical Engineering
				</td>
			</tr>
			<tr>
				<td>1
				</td>
				<td>4
				</td>
				<td>0
				</td>
				<td>3
				</td>
				<td>Bachelor of Science in Electronics Engineering
				</td>
			</tr>
			<tr>
				<td>1
				</td>
				<td>4
				</td>
				<td>0
				</td>
				<td>4
				</td>
				<td>Bachelor of Science in Industrial Engineering
				</td>
			</tr>
			<tr>
				<td>1
				</td>
				<td>4
				</td>
				<td>0
				</td>
				<td>5
				</td>
				<td>Bachelor of Science in Mechanical Engineering
				</td>
			</tr>
			<tr class="info">
				<td style="text-align: center;" colspan="5">COLLEGE OF COMPUTER STUDIES
				</td>
			</tr>
			<tr>
				<td>1
				</td>
				<td>3
				</td>
				<td>0
				</td>
				<td>1
				</td>
				<td>Bachelor of Science in Computer Science
				</td>
			</tr>
			<tr>
				<td>1
				</td>
				<td>3
				</td>
				<td>0
				</td>
				<td>2
				</td>
				<td>Bachelor of Science in Information Systems
				</td>
			</tr>
			<tr>
				<td>1
				</td>
				<td>3
				</td>
				<td>0
				</td>
				<td>3
				</td>
				<td>Bachelor of Science in Information Technology
				</td>
			</tr>
			<tr>
				<td>1
				</td>
				<td>3
				</td>
				<td>0
				</td>
				<td>4
				</td>
				<td>*Associate in Information Technology
				</td>
			</tr>
			<tr class="info">
				<td style="text-align: center;" colspan="5">COLLEGE OF PUBLIC ADMINISTRATION
				</td>
			</tr>
			<tr>
				<td>1
				</td>
				<td>6
				</td>
				<td>0
				</td>
				<td>1
				</td>
				<td>Bachelor in Public Administration
				</td>
			</tr>
			<tr class="info">
				<td style="text-align: center;" colspan="5">COLLEGE OF SCIENCE
				</td>
			</tr>
			<tr>
				<td>1
				</td>
				<td>7
				</td>
				<td>0
				</td>
				<td>1
				</td>
				<td>Bachelor of Science in Chemistry
				</td>
			</tr>
			<tr>

				<td>1
				</td>
				<td>7
				</td>
				<td>0
				</td>
				<td>2
				</td>
				<td>Bachelor of Science in Mathematics
				</td>
			</tr>
		</table>
		</p>
	</div>
</div>


