<div id="examination" class="tab-pane">
	<h4>TAKING THE TSU-COLLEGE ADMISSION TEST </h4>
	<p>
		Proceed to your designated Testing Room at the College of Business and Accountancy
        Building located at the TSU-Main Campus. Be there at 7:00am for the 7:30am session
        and 12:30pm for the 1:00pm session. 
	</p>
	<br />

	<div class="ui-state-highlight">
			<span class="ui-icon ui-icon-bullet pull-left"></span>
			Bring the following:
	</div>

	<ol>
		<li><strong>TEST PERMIT </strong><em>(No Test Permit No Exam)</em></li>
		<li>School ID</li>
		<li>Lead Pencil No. 2, Quality Eraser</li>
		<li>Pencil Sharpener</li>
	</ol>
	<p>
		<em>
		<span class="label label-warning">NOTE! </span>
		The use of any electronic gadget during the test is <strong>STRICTLY PROHIBITED.</strong>
		This is a ground for <strong>DISQUALIFICATION</strong> from taking the test.
		</em>
	</p>

</div>
