@model Tsu.DataAccess.Entities.Campus

<div id="MainCampusCoursesModal" class="modal hide fade popup-courses">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal">x</button>
		<h2> @Model.Name </h2>
	</div>
	<div class="modal-body">
		@Html.Partial("_CoursesOffered", Model.Colleges)
	</div>
</div>