<div id="policies-requirements" class="tab-pane">
	<h4>Admission Policies/Requirements</h4>
	<br />

	<!-- First -->
	<div class="ui-state-highlight">
		<span class="ui-icon ui-icon-bullet pull-left"></span>
		COLLEGE ENROLLEES
	</div>

	<ul>
		<li>Entrance Examination (TSU-CAT)</li>
		<li>Report Card (Form 138)</li>
		<li>Health Examination Certificate (Gov’t Physician)</li>
		<li>Machine copy of NSO Birth Certificate</li>
		Two (2) copies of recent Photo (2” x 2”)
	</ul>
	<br />

	<!-- Second -->
	<div class="ui-state-highlight">
		<span class="ui-icon ui-icon-bullet pull-left"></span>
		TRANSFEREES
	</div>

	<ul>
		<li>Transfer Credentials</li>
		<li>Certified True copy of grades</li>
		<li>Certificate of Good Moral Character(from Dean/Guidance Counselor)</li>
		<li>Machine copy of NSO Birth Certificate</li>
		<li>Two (2) copies of recent Photo (2” x 2”)</li>
		<li>Health Examination Certificate (Gov’t. Physician)</li>
	</ul>
	<br />

	<!-- Third -->
	<div class="ui-state-highlight">
		<span class="ui-icon ui-icon-bullet pull-left"></span>
		CROSS ENROLLEES
	</div>
	<ul>
		<li>Cross registration permit from mother institution</li>
	</ul>

	<div class="ui-state-highlight">
		<span class="ui-icon ui-icon-bullet pull-left"></span>
		FOREIGN STUDENT
	</div>

	<ul>
		<li>Application for Admission</li>
		<li>Original Transcript of Records</li>
		<li>Personal History Statements</li>
		<li>Affidavit of Support</li>
		<li>Alien Certificate of Registration (ACR)</li>
		<li>Student Visa</li>
		<li>Result of Test in English as a Foreign Language (TOEFL)</li>
		<li>TSU Admission Test</li>
	</ul>

</div>
