<div id="results" class="tab-pane">
	<h4>CLAIMING YOUR TEST RESULT </h4>
	<br />

	<div class="ui-state-highlight">
			<span class="ui-icon ui-icon-bullet pull-left"></span>
			When to claim your TEST RESULT
	</div>
	<ol>
		<li>Please refer to your 
			<strong>TEST PERMIT/CLAIM STUB </strong>
			on the schedule of releasing of Test Results.
		</li>
		<li>Proceed to the University Testing Center and present your 
			<strong> TEST PERMIT/CLAIM STUB.</strong>

		</li>
		<li><strong> ENROLMENT SCHEDULES </strong> are indicated on the Test Result.</li>
	</ol>

</div>
