<div id="test-requirements" class="tab-pane active">
	<h4>To be qualified to take the <abbr title="TSU-College Admission Test">TSU-CAT </abbr>, applicant must meet the following requirements.</h4>
	<br />

	<!-- First -->
	<div class="ui-state-highlight">
		<span class="ui-icon ui-icon-bullet pull-left"></span>
		APPLICANT MUST BELONG TO ONE OF THE CATEGORIES LISTED BELOW 
	</div>

	<ol>
		<li>Completed/completing secondary level of education from Department of Education-recognized and/or accredited secondary school.
		</li>
		<li>Those declared eligible for admission to college after taking the Philippine Educational Placement Test (PEPT).
		</li>
	</ol>
	<br />

	<!-- Second -->
	<div class="ui-state-highlight">
		<span class="ui-icon ui-icon-bullet pull-left"></span>
		APPLICANT MUST MEET ALL THE PRESCRIBED COLLEGE ADMISSION TEST REQUIREMENTS OF THE UNIVERSITY
	</div>

	<ol>
		<li>Photocopy of Form 138 (Report Card)</li>
		<li>Photocopy of Certificate of Good Moral Character</li>
		<li>Photocopy of Authenticated (NSO) Birth Certificate</li>
		<li>2 pcs. identical 2”x2” photo with name tag.</li>
		<li>Official Receipt of non-refundable testing fee amounting to Php300.00 (to be paid at the TSU Cashiering Office).</li>
		<li>Accomplished College Admission Test Application Form (TSUCAT FORM 01 Revised 07-18-2012).</li>
	</ol>
	<br />

	<!-- Third -->
	<div class="ui-state-highlight">
		<span class="ui-icon ui-icon-bullet pull-left"></span>
		APPLICANTS ELIGIBLE FOR ADMISSION TO COLLEGE MUST MEET THE FOLLOWING ADDITIONAL REQUIREMENTS
	</div>

	<ol>
		<li> Must not have taken any college subject/s previously </li>
		<li> Must not be taking any college subject/s at present </li>
		<li> Will not be taking any college subject/s prior to or for the semester or academic year for which the TSU College Admission Test is to be taken. </li>
		<li> Students enrolled in vocational courses or those not leading to a degree program can apply for the TSU College Admission Test. </li>
	</ol>

</div>
