<div id="wrapper">
	<div class="carousel">
		<div><img src="~/Images/SlideShow/ny1.jpg" width="300" height="200" border="0" /></div>
		<div><img src="~/Images/SlideShow//ny2.jpg" width="300" height="200" border="0" /></div>
		<div><img src="~/Images/SlideShow//ny3.jpg" width="300" height="200" border="0" /></div>
	</div>
</div>