@{
	ViewBag.Title = "Admission";
}

@section featured
{
	<div class="content">
		<h3>Getting Admitted </h3>
		<br />

		<div class="row">
			<div class="span2">
				<div class="tabbable tabs-left tab-spy">
					<ul class="nav nav-tabs">
						<li class="active"><a href="#requirements" data-toggle="tab">Requirements</a></li>
						<li><a href="#profile" data-toggle="tab">Profile</a></li>
						<li><a href="#messages" data-toggle="tab">Messages</a></li>
						<li><a href="#settings" data-toggle="tab">Settings</a></li>
					</ul>
				</div>
			</div>

			<div class="span9">
				<div class="tab-content">
					@Html.Partial("_AdmissionRequirementsTab")
					<div id="profile" class="tab-pane">

					</div>
				</div>
			</div>
		</div>
	</div>



}
